    :root {
        --primary-color: #FCFFFC;
        --secondary-color: #2D3A3A;
        --accent-color-1: #2BA84A;
        --accent-color-2: #248232;
        --accent-color-3: #040F0F;
    }
      
      
      
      
      /* Style for the body */
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        position: relative;
        min-height: 100vh; /* Ensure the body covers the full height of the viewport */
        background-color: var(--primary-color);
    }

    /* Style for top navigation */
    .topnav {
        background-color: var(--secondary-color); /* Example color */
        overflow: hidden;
        color: var(--primary-color);
        padding: 10px;
        display: flex;
        align-items: center;
        position: fixed; /* Fix the navigation bar at the top */
        width: 100%; /* Make it span the entire width of the viewport */
        top: 0; /* Position it at the top */
    }

    /* Style for NextBank text */
    .topnav span {
        font-size: 24px; /* Adjust the font size as needed */
        padding: 0 20px; /* Add padding to the left and right */
    }

    /* Style for navigation links */
    .topnav nav {
        flex: 1;
    }

    .topnav nav a {
        float: left;
        color: var(--primary-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 5px;
        margin-right: 16px;
    }

    .topnav nav a:hover{
        background-color: var(--accent-color-1); 
        color: var(--primary-color);
    }

    /* Style for active link */
    .topnav nav a.active {
        background-color: var(--accent-color-1); 
        color: var(--primary-color);
    }

    /* Style for login and sign up buttons */
    .loginButton {
        background-color: var(--accent-color-1);
        color: var(--primary-color);
        border: none;
        padding: 10px 20px;
        margin-right: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

    .signupButton {
        background-color: var(--accent-color-2); 
        color: var(--primary-color);
        border: none;
        padding: 10px 20px;
        margin-right: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

    .slideshowContainer {
        position: absolute;
        top: 50%; /* Position the top of the slideshow container at the vertical center of the viewport */
        left: 50%; /* Position the left side of the slideshow container at the horizontal center of the viewport */
        transform: translate(-50%, -50%); /* Center the slideshow container both horizontally and vertically */
        width: 100%;
        max-width: 1600px; /* Adjust the maximum width as needed */
        margin: auto;
    }
    
    /* Style for individual slides */
    .slide {
        display: none;
        transition: opacity 5s ease;
    }

    .visible {
        display: block;
    }
    
    /* Style for slide content */
    .slideContent {
        text-align: center;
        padding: 20px;
    }
    
    /* Style for slide controls */
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 16px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .prev {
        left: 0;
    }
    
    .next {
        right: 0;
    }
    

    /* Style for footer */
    footer {
        background-color: var(--secondary-color); 
        color: var(--primary-color);
        text-align: center;
        padding: 20px 0;
        position: fixed; /* Fix the footer at the bottom */
        width: 100%; /* Make it span the entire width of the viewport */
        bottom: 0; /* Position it at the bottom */
    }
    

